.order-container {
    /* display: flex;
    height: 100%;
    width: 100%; */
}

.order-list-container {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 8px;
}

.order-menu-list-container {
    /* flex-basis: 75%; */
    /* background-color: white; */
    /* padding: 8px; */
    /* height: 100%; */
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    background-color: white;
    padding: 16px;
    border-left: 3px solid rgb(102, 108, 106);
    border-radius: 5px;
}

.order-total{
    margin-top: 32px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
.order-action{
    padding: 8px;
    margin: 8px 0 8px 0;
    cursor: pointer;
    box-shadow: 3px 5px 9px #888888;
    border-radius: 5px;
    font-weight: bolder;
}
.cancel-action{
    padding: 8px;
    margin: 8px 0 8px 0;
    cursor: pointer;
    box-shadow: 3px 5px 9px #888888;
    border-radius: 5px;
    font-weight: bolder;
}

.order-list-empty{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
    margin: 8px;
    width: 128px;
    cursor: pointer;
    box-shadow: 3px 5px 9px #888888;
    border-radius: 5px;
}

.menu-item-container {
    overflow-y: scroll;
}

.menu-header{
    /* background-color: rgb(94, 94, 94);
    color: whitesmoke; */
    box-shadow: 3px 5px 9px #888888;
    border-radius: 5px;
}

.order-qty-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    gap: 10px;
    z-index: 102;
}

.order-qty-content{
    background-color:  rgb(102, 108, 106);
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    color: whitesmoke;
}

.order-qty-button-group{
    width: 100%;
    display: flex;
    gap: 8px;
}

.order-qty{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.order-qty-form-input{
    height: 32px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}